.lo1{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #009FFF;
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF); 
  background: linear-gradient(to right, #ec2F4B, #009FFF); 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-form {
  width: 350px;
  padding: 40px;
  background-color: rgba(204, 175, 209, 0.01); /* Purple background color with 50% opacity */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  
  .form-container1 {
    background-color: rgba(204, 175, 209, 0.01); /* Purple background color with 50% opacity */
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 10px rgba(105, 99, 99, 0.1); */
  }
  
  .form-container1 h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group1 {
    margin-bottom: 20px;
  }
  
  .form-group1 label {
    margin-bottom: 5px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ecd7f0; Purple border color
    border-radius: 5px;
    background-color: rgba(204, 175, 209, 0.01); /* Purple background color with 50% opacity */
    color: #fff; /* White text color */
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .signup-btn1 {
    padding: 10px 20px;
    background-color: #a6c8dd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-btn1:hover {
    background-color: #0080FF;
  }
  
  .login1-link {
    text-align: center;
  }
  
  .login1-link a {
    text-decoration: none;
    color: #009FFF;
  }
   